<h1><%= "#{@friend.first_name} #{@friend.last_name}" %></h1>

<ul>
	<li><%= @friend.first_name %></li>
	<li><%= @friend.last_name %></li>
	<li><%= @friend.email %></li>
	<li><%= @friend.phone %></li>
	<li><%= @friend.twitter %></li>
</ul>